@using CRUDTest.Data;
@model ViewModelProducts
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<section style="background-color: #eee;">
    <div class="container py-5">
        @foreach (var item in Model.ProductsList)
        {
            
            <div class="row justify-content-center mb-3">
                <div class="col-md-12 col-xl-10">
                    <div class="card shadow-0 border rounded-3">
                        <div class="card-body">
                                <div class="row">
                                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                        <img src="@item.Image"
                                             class="w-100" />
                                        <a href="#!">
                                            <div class="hover-overlay">
                                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <h5>@item.Name</h5>
                                    <p class="text-truncate mb-4 mb-md-0">
                                        @item.Description
                                    </p>
                                </div>
                                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                    <div class="d-flex flex-row align-items-center mb-1">
                                        <h4 class="mb-1 me-1">R$@item.Value</h4>
                                        @{
                                            var oldValue = item.Value * 0.3 + item.Value;
                                        }
                                        <span class="text-danger"><s>R$@oldValue </s></span>
                                    </div>
                                    <h6 class="text-success">Frete grátis</h6>
                                    <div class="d-flex flex-column mt-4">
                                        <button class="btn btn-outline-primary btn-sm mt-2" onclick="comprar(@item.Id)" type="submit">
                                            Comprar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        }
    </div>
</section>

<script type="text/javascript">
    var idProd = 0
    function comprar(productId){
        idProd = productId
        $.ajax({
            url: "/Carts/Create/" + idProd,
            type: "POST",
            data: JSON.stringify(idProd),
            contentType: "application/json",
            error: function () {

            },
            success: function () {
                window.location.reload();
            }
        });
    }
</script>